section.slideshow{
    width: 80%;
    /* border: yellow solid 2px; */
}
section.slideshow div.slide-holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
section.slideshow section.current-slide{
    width: 400px;
    height: 300px;
}
section.slideshow section.previous-slide,
section.slideshow section.next-slide{
    width: 200px;
    height: 150px;
}
section.slideshow section.slide div.slide-thumbnail{
    width: 100%;
    height: 100%;
    background: #541d82;
    background-size: cover;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #551d829c;
}

.fade{
    animation: fade .5s ease-in-out;
}

@keyframes fade{
    from{
        opacity: 0;
    }   
    to{
        opacity: 1;
    }
}

section.slideshow div.slideshow-controller{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.slideshow div.slideshow-controller span{
    padding: 10px;
    width: 100px;
    border: none;
    background: #541d82;
    color: #f5f5f5;
    cursor: pointer;
    text-align: center;
    box-shadow: 3px 3px 5px #551d8283;
    user-select: none;
}
section.slideshow div.slideshow-controller span:hover{
    color: #ffc200;
    text-shadow: 3px 3px 5px #ffc200;
}
section.slideshow div.slideshow-controller span:active{
    color: #541d82;
    text-shadow: 3px 3px 5px #541d82;
    background: #ffc200;
}


@media only screen and (max-width:720px){
    section.slideshow{
        width: 95%;
    }
    section.slideshow section.slide{
        display: none;
    }
    section.slideshow section.current-slide{
        display: block;
        width: 100%;
        min-height: 250px;
    }
    
    section.slideshow section.current-slide div{
        background-position: center;
        background-size: contain;
    }
    section.slideshow section.slide div.slide-thumbnail{
        width: 100%;
        height: 100%;
        background: #541d82;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
        box-shadow: 5px 5px 6px #551d829c;
    }
}