.highlight{
    color: #ffc200;
}
img#dev-pic{
    border-radius:  60px 6px;
    box-shadow: 5px 5px 15px #22222288;
    margin: auto auto 20px auto;
    min-width: 120px;
}

p#bio{
    text-align: justify;
    font-size: 18px;
    
}

.react-box{
    padding: 100px 0 !important;
}

div.bio-container{
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
    flex-wrap: wrap;
    max-width: 70%;
}
div.bio-container div.bio-text{
    padding: 10px;
    margin: 0 auto;
    max-width: 70%;
}
span.italic{
    font-style: italic;
}

.typing{
    display: none;
}

@media only screen and (min-width: 1000px){
    .typing{
        display: block;
        width: 300px;
        position: absolute;
        top: 190px;
        z-index: 2;
        user-select: none;
        -webkit-user-drag: none;
    }
}

@media only screen and (max-width:720px){
    div.bio-container{
        max-width: 100%;
    }
    div.bio-container div.bio-text{
        max-width: 90%;
    }
    img#dev-pic{
        border-radius: 6px;
    }
}

span{
    cursor: pointer;
}
.highlight{
    color: #ffc200;
}
ul#footer-links{
    margin-top: 10px;
    list-style: none;
}
ul#footer-links li{
    display: inline;
    margin: 2px 5px;
    font-size: 30px;
    transition: all .1s ease-in-out;
}

ul#footer-links li a:hover{
    color: #fbff00;
}   
