a.react-postit{
    color: #222;
    min-width: 20vw;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 3px 3px 10px #2600ff96;
    margin: 10px auto;
    border: none;
}
a.react-postit.dark{
    box-shadow: none;
}
a.react-postit:hover{
    text-shadow: none;
    border: none;
}

a.react-postit div.postit-header{
    width: 100%;
    height: 100%;
    color: #eee;
    background: #451d82;
    background: -webkit-linear-gradient(45deg, #4c116bc5, #1d1069be);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
a.react-postit:hover div.postit-header{
    background: #e5d81d;
    background: -webkit-linear-gradient(45deg, #8b8532, #ffee00, #b6ac20);
    color: #222;
}
a.react-postit div.postit-footer{
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #666;
    background: #2f2f2f;
    font-size: 16px;
}
a.react-postit.dark div.postit-footer{
    background: #e5e5e5;
    color: #222;
}