@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --white: #e5e5e5;
  --blue: #2700ff;
  --fuchsia: #a400ff;
  --dark: #0c0b0d;
  --yellow: #ffc200;
}

html, body, #root{
    min-height: 100%;
    background: var(--white);
    color: var(--dark);
    font-family: monospace, 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}


@keyframes slideInLeft{
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutLeft{
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.page-enter{
    animation: slideInLeft .3s forwards;
}

.page-exit{
    animation: slideOutLeft .3s forwards;
}