div.pageControllers{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.pageControllers span{
    font-weight: bolder;
}
button.pageButton{
    padding: 20px 25px;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 50%;
    background: #541d82;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px #642d949c;
}
button.pageButton:hover{
    background: yellow;
    color: #541d82;
    transition: all .1s ease-in-out;
}